*{
    color:white;
    font-family: "Lato",sans-serif;
    text-align: center;
}
html { overflow-y: hidden; }
h1 {
    text-align: center;
    margin-top:35px;
}
@media (min-width:768px){
    h1{
        font-size: 60px;
    }
    p{
        font-size: 25px;
    }
}
#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

#menu {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(backgroundpic.png) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#blur{
    //background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}
.form-control {
    width:100%;
}

.col-sm-12 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.7);
}
.form-group {
    margin:12px;
}
.glyphicon {
    color:black;
    font-size: 19px;
}
.form-horizontal{
    margin-bottom: 50px;
}
.form-horizontal .form-group .form-control::-webkit-input-placeholder {
 text-align: center;
 color:#404040;
}
.form-horizontal .form-group .form-control:-ms-input-placeholder {
    text-align: center;
    color:#404040;
}
